@using System.Threading

@implements IDisposable


    <div style="background-color:@Tattva.SubTattvaColor">
        <h3>@Tattva.TattvaName</h3>
        <img src="@ImgTattvaActual" />
        <h4>@Tattva.Sunrise</h4>
        <h4>@Tattva.Time</h4>
    </div>


@code {

    Timer TimerTattva { get; set; }
    Tattva Tattva { get; set; }
    string ImgTattvaActual => $"./imgs/{Tattva.TattvaName.ToString()}.png";

    [Parameter] public double Latitude { get; set; }
    [Parameter] public double Longitude { get; set; }
    [Parameter] public DateTime HoraActual { get; set; } = DateTime.Now;
    [Parameter] public bool TimerOn { get; set; } = false;


    protected override void OnInitialized()
    {


        Tattva = new Tattva(HoraActual, Latitude, Longitude);
        if (TimerOn)
        {
            TimerTattva = new Timer(NextTattva);
            TimerTattva.Change(Tattva.NextSubTattvaTicks, Tattva.CICLO_SUBTATTVA*1000);
        }
        StateHasChanged();

    }


    void NextTattva(object state)
    {
        this.Tattva.Update();
        StateHasChanged();
    }
    public void Dispose() {
        if (TimerOn)
            TimerTattva.Dispose();
    }

}
